{% extends "base.html" %}

{% macro with_errors(field) %}
    <div class="form_field">
    {% if field.errors %}
        {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
        {{ field.label }} {{ field(class=css_class, **kwargs) }}
        <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
        {{ field.label }} {{ field(**kwargs) }}
    {% endif %}
    </div>
{% endmacro %}

{% block content %}
<script type="text/javascript">
    function submitAddform()
    {
        document.AddForm.submit();
        return false;
    }
</script>
<h2>Session Add</h2>

<form name="AddForm" method="POST" action="{{ url_for('.add') }}">
    {{ form.csrf_token }}{{ form.hidden_tag() }}
    <p>{{ with_errors(form.name, autofocus="autofocus") }}</p>
</form>

<p><a href="javascript:submitAddform()">save</a> | <a href="{{ url_for('.list') }}">cancel</a></p>
{% endblock %}
