{% extends "base.html" %}

{% macro with_errors(field) %}
    <div class="form_field">
        <tr>
            {% if field.errors %}
                {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
                <td align="right" style="font-weight:bold">{{ field.label }}</td>
                <td>{{ field(class=css_class, **kwargs) }}</td>
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            {% else %}
                <td align="right" style="font-weight:bold">{{ field.label }}</td>
                <td>{{ field(**kwargs) }}</td>
            {% endif %}
        </tr>
    </div>
{% endmacro %}

{% block content %}
<script>
function submitEditform()
    {
        document.EditForm.submit();
        return false;
    }
</script>
<h2>Bag Edit</h2>
<form name="EditForm" method="POST" action="{{ url_for('.edit', id=form.id.data|int) }}">
    {{ form.csrf_token }}{{ form.hidden_tag() }}
    <table>
        {{ with_errors(form.name, autofocus="autofocus") }}
        {{ with_errors(form.desc) }}
        {{ with_errors(form.is_active) }}
    </table>
</form>
<hr>
<p><a href="{{ url_for('.view', id=form.id.data|int) }}">cancel</a> |
    <a href="javascript:submitEditform()">save</a></p>
{% endblock %}
