{% extends "base.html" %}

{% block content %}
<section class="section section-posts grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        {% if current_user.is_authenticated %}
                            <span class="card-title">Games</span>
                            {% if max_exceeded %}
                                Not all games are shown, there are more than 100.
                            {% endif %}
                            <table class="striped">
                                <thead>
                                    <tr>
                                        <th>Game</th>
                                        <th>Play Time</th>
                                    </tr>
                                </thead>
                                <tbody class="games">

                                    {% for datasingle in datalist %}
                                    <tr>
                                        <td><a href="{{ url_for('.view', id=datasingle.id) }}">{{datasingle.name}}</a></td>
                                        <td>{{datasingle.end_date.strftime('%Y-%m-%d %H:%M')}}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>

                        {% else %}
                            Welcome to Planning Poker. Log in to see your list of Games and to create new Games.<br><br>
                            If you are new to Planning Poker, you can create a new user account on the Login page.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div class="container">
    <h2>Chuck Norris Joke Generator</h2>
    <form>
      <div>
        <label for="number">Number of jokes</label>
        <input type="number" id="number">
      </div>
      <div>
        <button class="get-jokes">Get Jokes</button>
      </div>
    </form>
    <ul class="jokes"></ul>
  </div> -->


<footer class="section blue darken-2 white-text center">
    <p>Poker Copyright &copy 2021</p>
</footer>


<!-- Fixed Action Button -->
<div class="fixed-action-btn">
    <a href="#game-modal" class="modal-trigger btn-floating btn-large red">
        <i class="material-icons">add</i>
    </a>
</div>


<div id="game-modal" class="modal">
    <div class="modal-content">
        <h4>Add Game</h4>
        <form>
            <div class="input-field">
                <input type="text" id="game">
                <label for="title">Title</label>
            </div>

            <div class="modal-footer">
                <button type="button" class="modal-action modal-close btn blue white-text add-game">Add</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('.button-collapse').sideNav();
    })
</script>

{% endblock %}
