{% extends "base.html" %}

{% block content %}
<section class="section section-posts grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Players in game {{datasingle.name}}</span>
              {% if playerlist %}
                <table class="striped ">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Vote</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for player in playerlist %}
                            <tr>
                                <td>{{player.username}}</td>
                                <td>{{player.vote}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}
                    No Players for this Session
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-posts grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">History</span>

              {% if historylist %}
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Story</th>
                            <th>Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for history in historylist %}
                        <tr>
                            <td>{{history.story}}</td>
                            <td>{{history.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% else %}
                No History for this Session
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
    <footer class="section blue darken-2 white-text center">
        <p>Poker Copyright &copy 2021</p>
    </footer>


  <!-- Fixed Action Button -->
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a href="#vote-modal" class="modal-trigger btn-floating blue">
                <i class="material-icons">how_to_vote</i>
            </a>
        </li>
      <li>
        <a href="{{ url_for('main.list') }}" class="btn-floating red">
          <i class="material-icons">delete</i>
        </a>
      </li>
            <li>
        <a href="{{ url_for('main.view', id=datasingle.id) }}" class="btn-floating green">
          <i class="material-icons">add</i>
        </a>
      </li>

    </ul>
  </div>


    <div id="vote-modal" class="modal">
        <div class="modal-content">
            <form method="post">
                <table>
                    <tr>
                        <td style="vertical-align:top">
                            <p>
                                <input type="radio" name="vote" id="vote0">
                                <label for="vote0">0</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote1">
                                <label for="vote1">1</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote2">
                                <label for="vote2">2</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote3">
                                <label for="vote3">3</label>
                            </p>
                        </td>
                        <td style="vertical-align:top">
                            <p>
                                <input type="radio" name="vote" id="vote5">
                                <label for="vote5">5</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote8">
                                <label for="vote8">8</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote13">
                                <label for="vote13">13</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote20">
                                <label for="vote20">20</label>
                            </p>
                        </td>
                        <td style="vertical-align:top">
                            <p>
                                <input type="radio" name="vote" id="vote40">
                                <label for="vote40">40</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="vote100">
                                <label for="vote100">100</label>

                            </p>
                            <p>
                                <input type="radio" name="vote" id="voteQ">
                                <label for="voteQ">?</label>
                            </p>
                            <p>
                                <input type="radio" name="vote" id="voteU">
                                <label for="voteU">ꝏ</label>
                            </p>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="modal-footer">
                <a href="{{ url_for('main.view', id=datasingle.id) }}" class="modal-action modal-close btn blue white-text">Vote</a>
            </div>
        </div>
    </div>


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

  <script>
    $(document).ready(function () {
      // INIT SELECT LIST
      $('select').material_select();

      // Init Side nav
      $('.button-collapse').sideNav();

      // INIT modal
      $('.modal').modal();
    });
  </script>

{% endblock %}
