<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
    <head>
        {% if title %}
            <title>RJC - {{ title }}</title>
        {% else %}
            <title>RJC</title>
        {% endif %}
    </head>
    <body>
        <div>
            <div style="float:left;">
                <a href="{{ url_for('main.list') }}" style="text-decoration: none; font-size:32px;">RJC</a>
            </div>
            <div style="float:right;">
                <a href="{{ url_for('main.list') }}">home</a> |
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login') }}">login</a>
                {% else %}
                    <a href="{{ url_for('auth.logout') }}">logout</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messaged-ul">
                    {% for message in messages %}
                        <li class="messages-li">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
